.tools {
    .tools-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-basis: 25%;
        align-items: stretch;
        margin-top: 1em;
    }
}