.gameScriptView {
  .solutionExplorer img {
    display: inline;
    padding: 0 3px;
  }

  h1 {
    font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Helvetica, sans-serif;
    font-weight: 100;
    background-color: deepskyblue;
    color: white;
    padding: 16px;
  }

  pre {
    font-family: Consolas, 'Courier New', 'Andale Mono', 'Lucida Console', monospace;
    font-size: 12pt;
    line-height: 125%;
    tab-size: 4;
    background: none;
  }

  pre a:focus {
    color: inherit;
    background-color: lime;
  }

  pre#ln {
    border-right: 1px solid #333;
    padding-right: 5px;
    padding-left: 10px;
  }

  pre#code {
    padding-left: 10px;
  }

  pre b {
    font-weight: normal;
    color: blue;
  }

  a:link {
    font-family: Consolas, 'Courier New', 'Andale Mono', 'Lucida Console', monospace;
    text-decoration: none;
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
  }

  a:active {
    color: inherit;
  }

  a img {
    border: none;
  }

  div div a:hover,
  body a:hover {
    text-decoration: none;
  }

  table.ex {
    margin: 32px;
    border-spacing: 0px;
    border-style: solid;
    border-color: lightgray;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
  }

  thead td.ex {
    background-color: deepskyblue;
    color: white;
    border-style: solid;
    border-color: deepskyblue;
  }

  tr td.ex {
    vertical-align: top;
    border-style: solid;
    border-color: lightgray;
    padding: 8px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  .note {
    margin: 8px;
    padding: 8px;
    background-color: lightyellow;
    border-color: khaki;
  }

  .rG,
  .resultGroup {
    margin-right: 0px;
    margin-left: 8px;
    margin-bottom: 16px;
  }

  .partialTypeHeader {
    font-size: larger;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .linkIcon {
    vertical-align: middle;
    margin-right: 12px;
    list-style-type: disc;
    list-style-position: outside;
  }

  .resultGroupHeader {
    cursor: pointer;
    padding: 6px 6px 6px 28px;
    margin-top: 16px;
    background-color: #e7f5ff;
    background: url('./icons/minus.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 13px;
    background-origin: border-box;
  }

  .resultGroupHeader:hover {
    background-color: #d4edff;
  }

  .resultGroupAssemblyName {
    font-size: larger;
    font-weight: bold;
  }

  .rA {
    font-size: larger;
    font-weight: bold;
    background-color: #e7f5ff;
    background: url('./icons/minus.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-origin: border-box;
    padding: 6px 6px 6px 28px;
    cursor: pointer;
  }

  .rA:hover {
    background-color: #d4edff;
  }

  .resultGroupProjectPath {
    font-size: smaller;
    color: silver;
  }

  .rF,
  .resultGroupFileGroup {
    margin-top: 8px;
  }

  .rL,
  a.rL,
  .referenceLine {
    font-family: Consolas, 'Courier New', 'Andale Mono', 'Lucida Console', monospace;
    font-size: small;
    white-space: nowrap;
    display: block;
  }

  .rL:hover,
  .referenceLine:hover {
    background-color: #eeeeee;
  }

  .rx,
  .referenceLineText {
    margin-left: 12px;
  }

  a b {
    font-weight: normal;
    margin-right: 12px;
    color: #2b91af;
  }

  a i {
    background-color: yellow;
    font-style: normal;
  }

  .l {
    margin-right: 12px;
  }

  .rO,
  .referenceOccurrence {
    background-color: yellow;
  }

  .rN,
  .resultGroupFileName {
    background-color: #f6f6f6;
    color: gray;
    padding: 4px 4px 4px 30px;
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-origin: border-box;
  }

  .resultItem {
    padding: 8px 0px 8px 24px;
    text-decoration: none;
    white-space: nowrap;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .resultItem:hover {
    background-color: #f6f6f6;
  }

  .projectExplorerBody,
  .namespaceExplorerBody,
  .solutionExplorerBody {
    cursor: default;
    padding: 5px 0 0 5px;
  }

  .reference {
    cursor: pointer;
    display: block;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 31px;
    white-space: nowrap;
    background: url('./icons/192.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .referenceDisabled {
    display: block;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 31px;
    white-space: nowrap;
    background: url('./icons/192.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
    color: lightgray;
  }

  .folder {
    margin-left: 21px;
  }

  .folderTitle {
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .typeTitle {
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 30px;
  }

  .typeDeclarationNodeImage,
  .tDNI {
    margin-top: 3px;
    padding-right: 8px;
    vertical-align: top;
  }

  .typeDeclarationNode,
  .tDN {
    cursor: pointer;
    white-space: nowrap;
    display: inline;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .typeDeclarationNode:focus,
  .tDN:focus {
    background-color: #3399ff;
    color: white;
  }

  .projectCS {
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 32px;
    background: url('./icons/196.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .projectVB {
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 32px;
    background: url('./icons/195.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .cs {
    white-space: nowrap;
    cursor: pointer;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/csharp.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .cs:focus {
    background-color: #3399ff;
    color: white;
  }

  .vb {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/vb.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .vb:focus {
    background-color: #3399ff;
    color: white;
  }

  .csproj {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/196.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .csproj:focus {
    background-color: #3399ff;
    color: white;
  }

  .vbproj {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/195.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .vbproj:focus {
    background-color: #3399ff;
    color: white;
  }

  .xaml {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/xaml.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .xaml:focus {
    background-color: #3399ff;
    color: white;
  }

  .xml {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/xml.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .xml:focus {
    background-color: #3399ff;
    color: white;
  }

  .resx {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/resx.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .resx:focus {
    background-color: #3399ff;
    color: white;
  }

  .ts {
    cursor: pointer;
    white-space: nowrap;
    display: block;
    padding-left: 32px;
    margin-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url('./icons/typescript.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    background-origin: border-box;
  }

  .ts:focus {
    background-color: #3399ff;
    color: white;
  }

  h1 {
    background: linear-gradient(to right, #789 0%, #012 80%, #000 100%);
  }

  pre a:focus {
    color: inherit;
    background-color: #255;
  }

  pre b {
    color: #569cd6;
  }

  a:link {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  a:active {
    color: inherit;
  }

  table.ex {
    border-color: #333;
  }

  thead td.ex {
    background: linear-gradient(to right, #444 0%, #111 100%);
  }

  tr td.ex {
    border-color: #333;
  }

  .note {
    background-color: #443;
    border-color: #665;
  }

  .resultGroupHeader {
    background-color: #333;
  }

  .resultGroupHeader:hover {
    background-color: #555;
  }

  .rA {
    background-color: #3c80bc;
  }

  .resultGroupProjectPath {
    color: silver;
  }

  .rL:hover,
  .referenceLine:hover {
    background-color: #333;
  }

  a b {
    color: #2b91af;
  }

  a i {
    background-color: #553;
  }

  .rO,
  .referenceOccurrence {
    background-color: #aa0;
  }

  .rN,
  .resultGroupFileName {
    background-color: #222;
    color: gray;
  }

  .resultItem {
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  .resultItem:hover {
    background-color: #222;
  }

  .referenceDisabled {
    color: lightgray;
  }

  .typeDeclarationNode:focus,
  .tDN:focus {
    background-color: #3399ff;
    color: white;
  }

  .cs:focus {
    background-color: #3399ff;
    color: white;
  }

  .vb:focus {
    background-color: #3399ff;
    color: white;
  }

  .csproj:focus {
    background-color: #3399ff;
    color: white;
  }

  .vbproj:focus {
    background-color: #3399ff;
    color: white;
  }

  .xaml:focus {
    background-color: #3399ff;
    color: white;
  }

  .xml:focus {
    background-color: #3399ff;
    color: white;
  }

  .resx:focus {
    background-color: #3399ff;
    color: white;
  }

  .ts:focus {
    background-color: #3399ff;
    color: white;
  }

  .selectedFilename {
    background-color: #3399ff;
    color: white;
  }

  .selectedFilename:link,
  .selectedFilename:visited,
  .selectedFilename:hover,
  .selectedFilename:active {
    color: white;
  }

  .currentResult {
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-bottom-color: lightgray;
    background-color: #222;
  }

  .currentResult:hover {
    background-color: #222;
  }

  .resultKind {
    color: #569cd6;
  }

  .resultDescription {
    color: #555;
  }

  .rH {
    background-color: #39f;
    color: white;
  }

  #ln,
  #glyph {
    color: #2b91af;
  }

  .dH {
    background: linear-gradient(to right, #232 0%, #000 100%);
    color: gray;
    opacity: 0.85;
  }

  .headerBody {
    background: linear-gradient(to right, #789 0%, #012 80%, #000 100%);
  }

  #search-box {
    background: black;
    border-color: #555;
  }

  #logoText {
    color: white;
  }

  #currentVersion {
    color: #222;
  }

  #downloadButton {
    background-color: #68217a;
    color: white;
  }

  #feedbackButtonLink {
    color: white;
  }

  #downloadButtonLink {
    color: white;
  }

  #licenseButtonLink {
    color: white;
  }

  #helpButtonLink {
    color: white;
  }

  .result {
    background-color: lightgoldenrodyellow;
  }

  .r {
    border-color: transparent;
    color: #9cdcfe;
  }

  .unknownClassification {
    color: hotpink;
  }

  .k,
  a.k {
    color: #569cd6;
  }

  .k.preprocess {
    color: #666;
  }

  .t,
  a.t,
  .l,
  .lineNumber {
    color: #4ec9b0;
  }

  .t.valueType {
    color: #b5cea8;
  }

  a.i.method {
    color: #dcdcaa;
  }

  a.field {
    color: #9cdcfe;
  }

  .c {
    color: #57a64a;
  }

  .x,
  .e {
    color: #808080;
  }

  .s {
    color: #ce9178;
  }

  .xd {
    color: #808080;
  }

  .xn {
    color: #569cd6;
  }

  .xan {
    color: #92caf4;
  }

  .xav {
    color: #c8c8c8;
  }

  .xer {
    color: red;
  }

  .xcs {
    color: #808080;
  }

  .xpi {
    color: #808080;
  }

  .xld {
    color: #6464b9;
  }

  .xln {
    color: #844646;
  }

  .xlan {
    color: #b96464;
  }

  .xlav {
    color: #6464b9;
  }

  .xlaq {
    color: #555555;
  }

  .xler {
    color: #b96464;
  }

  .xlcs {
    color: #c0c0c0;
  }

  .xlpi {
    color: #c0c0c0;
  }

  .xlee {
    color: #b96464;
    background-color: #fffebf;
  }

  a.s,
  a.s:hover {
    color: #8c6a5c;
  }

  p a,
  p a:link,
  p a:hover,
  p a:focus,
  p a:active,
  ul a,
  ul a:link,
  ul a:hover,
  ul a:focus,
  ul a:active,
  ol a,
  ol a:link,
  ol a:hover,
  ol a:focus,
  ol a:active,
  .blueLink,
  .blueLink:link,
  .blueLink:hover,
  .blueLink:focus,
  .blueLink:active {
    color: deepskyblue;
  }

  p a:visited,
  ul a:visited,
  .blueLink:visited {
    color: deepskyblue;
  }

  .partialTypeLink {
    color: deepskyblue;
  }

  .partialTypeLink:hover {
    background-color: #333;
  }

  .documentOutlineButton {
    border-color: transparent;
    background-color: #000;
    opacity: 0.9;
  }

  .documentOutlineButton:hover {
    border-color: #eeccc0;
    background-color: #000;
  }

  .projectExplorerButton {
    border-color: transparent;
    background-color: #000;
    opacity: 0.9;
  }

  .projectExplorerButton:hover {
    border-color: #90e6d4;
    background-color: #000;
  }

  .namespaceExplorerButton {
    border-color: transparent;
    background-color: #000;
    opacity: 0.9;
  }

  .namespaceExplorerButton:hover {
    border-color: #e0e0e0;
    background-color: #000;
  }

  .documentOutlineDiv:hover {
    background-color: #345;
  }

  .tabChannel {
    background-color: #102;
  }

  .activeTab {
    background-color: #203;
    color: white;
  }

  .inactiveTab {
    background-color: #100020;
    color: #777;
  }

  .inactiveTab:link,
  .inactiveTab:visited,
  .inactiveTab:hover,
  .inactiveTab:active {
    color: #777;
  }

  #sourcesList li {
    background-color: steelblue;
    color: white;
  }

  .externalIndexLinks li {
    background-color: purple;
    color: white;
  }

  .externalIndexLinks li a {
    color: white;
  }

  .msbuildlink:hover {
    background-color: #222;
  }

  .projectInfo {
    color: #555;
  }
}
